.inactiveTable,
.activeTable {
  text-align: center;
  overflow: hidden;
  border-radius: 4px;
  background-color: #f2f2f2;
  /* -1px margin to align cell lines with outer border */
  margin-top: -1px;
  margin-left: -1px;
}

#colHeader {
  margin-top: 20px;
}
